.mt-10 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-24 {
    margin-top: 24px;
}
.mt-40 {
    margin-top: 40px;
}

.pl-10 {
    padding-left: 10px;
}
.pr-10 {
    padding-right: 10px;
}

.in-gray-500 {
    color: #636E95;
}
