.DragArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dashed #97A0C3;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.DragArea--active {
    background-color: aliceblue;
}
